---
layout: archive
title: "Projects supervision"
permalink: /supervision/
author_profile: true
---

Below is the list of student projects I supervised. They are mainly semester projects and bachelor thesis, contributing to the AdVitam project. These projects were done either at the <a href="https://www.heia-fr.ch/en/">University of Applied Sciences of Western Switzerland</a> (Fribourg) or at the University of Fribourg with the <a href="https://www3.unifr.ch/psycho/en/department/staff/teams/cogerg.html">Cognitive Ergononomics and Work Psychology</a> team.

{% include base_path %}

{% for post in site.supervision reversed %}
  {% include archive-single.html %}
{% endfor %}
